body {
    background-image: url(/assets/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.seccion-bienvenida {
    text-align: center;

}

#saludo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: #222;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

button {

    background-color: #a6a027;
    color: rgb(248, 244, 244);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;


}

.boton {

    background-color: #a6a027;
    color: rgb(248, 244, 244);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;


}

.btnNombre {
    font-size: small;


}

button:hover {
    background-color: #847f1d;
}

.subtitulo {
    font-size: 50px;
    font-style: italic;
    margin-top: 0;

}

#fecha-actual {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-top: 0;
}

#palabraMagica {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: rgb(159, 202, 232);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
#palabraMagica:hover {
    color: darkblue;}



#listaCompras { list-style-type: none; padding: 0; }
#listaCompras li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


