body {
    background-image: url(/assets/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.seccion-bienvenida {
    text-align: center;

}

#saludo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    color: #222;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}


button {

    background-color: #a6a027;
    color: rgb(248, 244, 244);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.boton {

    background-color: #a6a027;
    color: rgb(248, 244, 244);
    border: none;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.btnNombre {
    font-size: small;

}

h3 {
  
    color: #0a090a; 
    text-decoration: none;
    transition: 0.3s;
    
}

h3:hover {
    color: #0056b3; 
  text-decoration: none;
    text-shadow: 0px 0px 10px rgba(0,123,255,0.3);

}

button:hover {
    background-color: #847f1d;
}

.subtitulo {
    font-size: 50px;
    font-style: italic;
    margin-top: 0;

}


#fecha-actual {
    text-align: center;
    font-size: 50px;
    font-style: italic;
    margin-top: 0;
}

.selector-ciudad {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.selector-ciudad input {
  flex: 1;
  padding: 6px;
}

.selector-ciudad button {
  padding: 6px 12px;
  cursor: pointer;
}

.dia-clima {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}





#palabraMagica {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: rgb(159, 202, 232);
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}
#palabraMagica:hover {
    color: darkblue; 
}


    
.shopping-container {
    max-width: 600px;
    margin: 20px auto;
    background: #bec8a2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: sans-serif;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #f0ebeb;
    border-radius: 4px;
}


ul {
    list-style: none;
    padding: 0;
}

li {
    background: #bec8a2;
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.delete-btn {
    background: #d0424e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.8rem;
}


